.card {
  min-height: 191px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 2px solid rgba(28, 29, 34, 0.06);
  border-radius: 12px;
  cursor: pointer;

  header {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;

      h2 {
        font-weight: 600;
      }

      h3 {
        color: var(--gray-color);
      }
    }
  }

  & > div,
  footer {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
  }

  .progress {
    span:first-child {
      color: var(--gray-color);

      &::before {
        margin-right: 5px;
        content: url('/src/shared/ui/assets/menu-icon.svg');
        top: 0px;
        left: 0px;
      }
    }
  }

  .bar {
    position: relative;
    display: inline-block;
    background: #eee;
    height: 10px;
    border-radius: 6px;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: var(--progress-width);
      background-color: var(--progress-color);
    }
  }

  footer {
    color: var(--gray-color);

    div {
      display: flex;
      align-items: center;
      gap: 10px;

      div span::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 5px;
        background-size: cover;
        vertical-align: middle;
      }

      div:first-child span::before {
        background-image: url('/src/shared/ui/assets/comment-icon.svg');
      }

      div:last-child span::before {
        background-image: url('/src/shared/ui/assets/file-icon.svg');
      }
    }
  }
}
